@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}
body {
    /* font-family: cursive; */
    background-color: #EEEEEE;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}



/* --------------------- NAVBAR STYLING --------------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #333;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
                        /* LOGO */
.logo {
    font-size: 32px;
}
                        /* NAVBAR MENU */
.menu {
    display: flex;
    /* gap: 1em; */
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    /* border-radius: 10px; */
    transition: 0.3s ease;
    position: relative;
}
.menu li {
    padding: 5px 14px;
}
                        /* DROPDOWN MENU */
.services {
    position: relative;
}
.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    /* border-radius: 8px; */
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.services:hover .dropdown {
    display: block;
}

.bottom_bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* --------------------- NAVBAR STYLING --------------------- */

/* --------------------- CONTENT_BOX STYLING --------------------- */

div.contentBox{
    background-color: white;
    box-shadow: 5px 10px 8px #999999;

    margin: 80px;
    padding: 40px;
}

div.actionBar{
    margin: 20px 0;
}

div.actionBar form{
    display: inline-block;
}

div.actionBar input{
    border: none;
    background-color: #CCCCCC;
    padding: 2px 4px;
}

div.actionBar a{
    float: right;
}