@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}
body {
    /* font-family: cursive; */
    background-color: #EEEEEE;
    height: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}


/* --------------------- OLD NAVBAR STYLING --------------------- */

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #333;
    color: #fff;
}
nav.navbar .nav-links a {
    color: #fff;
}
/* LOGO */
nav.navbar .logo {
    font-size: 32px;
}
/* NAVBAR MENU */
nav.navbar .menu {
    display: flex;
    /* gap: 1em; */
    font-size: 18px;
}
nav.navbar .menu li:hover {
    background-color: #4c9e9e;
    /* border-radius: 10px; */
    transition: 0.3s ease;
    position: relative;
}
nav.navbar .menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
nav.navbar .services {
    position: relative;
}
nav.navbar .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    /* border-radius: 8px; */
    top: 35px;
}
nav.navbar .dropdown li + li {
    margin-top: 10px;
}
nav.navbar .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
nav.navbar .dropdown li:hover {
    background-color: #4c9e9e;
}
nav.navbar .services:hover .dropdown {
    display: block;
}

.bottom_bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* --------------------- HEADER STYLING --------------------- */

header.navbar {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0px;

    background-color: #FFFF;

    color: #000000;

    box-shadow: 0px 1px 10px #AAAAAA;

    z-index: 1;

    position: fixed;

    width: 100%;
}

header.navbar nav{
    height: 53px;
}

header.navbar nav ul{
    margin-bottom: 0;
}

header.navbar .nav-links a {
    color: #000000;
    text-decoration: none;

    height: 53px;

    padding: 6px 14px;

    display: block;
}

/*.nav-links a:hover {
    color: #FFFFFF;
    text-decoration: none;
}*/

header.navbar .nav-links a img{
    height: 40px;

    /*margin: 0 5px 4px 0;*/
    margin-left: 10px;

    border-radius: 50%;
}
                        /* LOGO */
header.navbar #logo {
    font-size: 32px;
    font-family: Lobster;
    text-align: center;
    color: #FFFFFF;

    background-color: #41C685;

    width: 260px;
    height: 53px;
}

header.navbar #logo img{
    height: 30px;
    margin: 0 5px 4px 0;
}
                        /* NAVBAR MENU */
header.navbar .menu {
    display: flex;
    /* gap: 1em; */
    font-size: 18px;

    height: 100%;
}
header.navbar .menu li:hover {
    /*background-color: #4c9e9e;*/
    background-color: #000000;
    /* border-radius: 10px; */
    transition: 0.3s ease;
    position: relative;
}

header.navbar .menu li:hover a{
    color: #FFFFFF;
    text-decoration: none;
}

header.navbar .menu li:hover ul li a{
    color: #000000;
    text-decoration: none;
}

header.navbar .menu li:hover ul li:hover a{
    color: #FFFFFF;
    text-decoration: none;
}

header.navbar .menu li {
    /*padding: 5px 14px;*/
}
                        /* DROPDOWN MENU */
header.navbar .services {
    position: relative;

    height: 100%;
}

header.navbar .dropdown {
    /*background-color: rgb(1, 139, 139);*/
    background-color: #FFFFFF;
    /*padding: 1em 0;*/
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;

    width: 100%;
    /* border-radius: 8px; */
    /*top: 35px;*/
}
header.navbar .dropdown li + li {
    /*margin-top: 10px;*/
}
header.navbar .dropdown li {
    /*padding: 0.5em 1em;*/
    /*width: 8em;*/
    width: 100%;
    height: 100%;

    /*text-align: center;*/
}

header.navbar .dropdown li:hover {
    /*background-color: #4c9e9e;*/
    background-color: #000000;
}

header.navbar .dropdown li a{
    color: #000000;
    padding-top: 14px;
}

header.navbar .dropdown li a:hover{
    color: #FFFFFF;
}

header.navbar .dropdown li form button.logout{
    height: 43px;
    width: calc( 100% - 10px );

    margin: 5px;
}

header.navbar .services:hover .dropdown {
    display: block;
}

/* --------------------- FOOTER STYLING --------------------- */

.bottom_bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/*------   Daily Log     ------
* {box-sizing: border-box;}
.column { float: left; padding: 15px;}
.left, .right {width:25%}
.middle{width: 40%;}
.row:after {
    content: "";
    display: table;
    clear: both;
} */
/*------   Search Form    ------*/
#searchForm {
    float: left;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 20px;
    padding-bottom: 2%;
}
/*------   Food Table    ------*/
#kfoodTable {
    float: left;
    padding-left: 40%;
    /*padding-right: 35%;
    padding-top: 20px;
    padding-bottom: 2%; */
}

/*------   Calendar    ------*/

/* --------------------- LEFT_BAR STYLING --------------------- */

div#leftBar{
    color: #FFFFFF;

    background-color: #41C685;

    margin-top: 53px;

    width: 260px;
    height: 100%;

    display: inline-block;

    position: fixed;
}

div#leftBar ul{

}

div#leftBar ul li{
    font-size: 18px;

    height: 50px;

    vertical-align: middle;
}

div#leftBar ul li a{
    color: #FFFFFF;
    text-decoration: none;

    width: 100%;
    height: 100%;

    padding-left: 20px;
    padding-top: 12px;

    display: block;
}

div#leftBar ul li:hover{
    color: #41C685;

    background-color: #FFFFFF;
}

div#leftBar ul li:hover a{
    color: #41C685;
}

div#leftBar ul li.selected {
    border-right: #FFFFFF solid 6px;

    background-color: rgba(255, 255, 255, 0.3);
}

div#leftBar ul li.selected:hover{
    color: #41C685;

    background-color: #FFFFFF;
}

/* --------------------- CONTENT STYLING --------------------- */

div#content{
    height: 100%;
    width: calc(100% - 265px);

    display: inline-block;

    margin-top: 53px;
    margin-left: 260px;
}

/* --------------------- CONTENT_BOX STYLING --------------------- */

div.contentBox{
    background-color: white;
    box-shadow: 5px 10px 8px #999999;

    margin: 80px;
    padding: 40px;
}

div.actionBar{
    margin: 20px 0;
}

div.actionBar form{
    display: inline-block;
}

div.actionBar input{
    border: none;
    background-color: #DDDDDD;
    padding: 4px 4px;
}

div.actionBar a{
    float: right;
}

.table thead th{
    border: none;
}

.table tbody tr:hover{
    background-color: #EEEEEE;
}

.table td{
    border: none;
    vertical-align: middle;
}

.table td.actionButtons{
    text-align: right;
}

/* --------------------- CALORIE_COUNT STYLING --------------------- */

div.contentBox.calorieCount{
    color: #FFFFFF;

    background-color: #41C685;
}

/* --------------------- FORM_BOX STYLING --------------------- */

div.formBox{
    background-color: white;
    box-shadow: 5px 10px 8px #999999;

    padding: 40px;
    padding-bottom: 80px;
    margin: 80px auto;

    max-width: 600px;
}

div.formBox form{

}

div.formBox form label{
    display: block;
}

div.formBox form input{
    display: block;

    width: 100%;

    border: none;

    background-color: #DDDDDD;

    padding: 4px 4px;
    margin-bottom: 20px;
}

div.formBox form input[type="checkbox"]{
    width: auto;
}

div.formBox form select{
    display: block;

    width: 100%;

    border: none;

    background-color: #DDDDDD;

    padding: 4px 4px;
    margin-bottom: 20px;
}

div.formBox form div button{
    float: right;

    margin: 0 !IMPORTANT;
    margin-left: 8px !IMPORTANT;
}