/* --------------------- FONTS --------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------------------- GENERAL --------------------- */

* {
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto Condensed', 'Roboto', sans-serif;*/
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    /* box-sizing: border-box; */
}
body {
    /* font-family: cursive; */
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
    position: absolute;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

h1{

}

h2{
    font-size: 25px;
    font-weight: 900;
}

h2 i{
    font-size: 28px;
    line-height: 34px;
}

.warning{
    color: #dc3545;
}

h3{
    font-size: 18px;
    font-weight: 100;
}

/* --------------------- OLD NAVBAR STYLING --------------------- */

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #333;
    color: #fff;
}
nav.navbar .nav-links a {
    color: #fff;
}
/* LOGO */
nav.navbar .logo {
    font-size: 32px;
}
/* NAVBAR MENU */
nav.navbar .menu {
    display: flex;
    /* gap: 1em; */
    font-size: 18px;
}
nav.navbar .menu li:hover {
    background-color: #4c9e9e;
    /* border-radius: 10px; */
    transition: 0.3s ease;
    position: relative;
}
nav.navbar .menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
nav.navbar .services {
    position: relative;
}
nav.navbar .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    /* border-radius: 8px; */
    top: 35px;
}
nav.navbar .dropdown li + li {
    margin-top: 10px;
}
nav.navbar .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
nav.navbar .dropdown li:hover {
    background-color: #4c9e9e;
}
nav.navbar .services:hover .dropdown {
    display: block;
}

.bottom_bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* --------------------- HEADER STYLING --------------------- */

header.navbar {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0px;

    background-color: #FFFF;

    color: #000000;

    box-shadow: 0px 1px 10px #AAAAAA;

    z-index: 1;

    position: fixed;

    width: 100%;
}

header.navbar nav{
    height: 53px;
}

header.navbar nav ul{
    margin-bottom: 0;
}

header.navbar .nav-links a {
    color: #000000;
    text-decoration: none;

    height: 53px;

    padding: 6px 14px;

    display: block;
}

/*.nav-links a:hover {
    color: #FFFFFF;
    text-decoration: none;
}*/

header.navbar .nav-links a img{
    height: 40px;

    /*margin: 0 5px 4px 0;*/
    margin-left: 10px;

    border-radius: 50%;
}
                        /* LOGO */
header.navbar #logo {
    /*font-size: 32px;*/
    font-size: 28px;
    line-height: initial;
    /*font-family: Lobster;*/
    font-family: Comfortaa;
    text-align: center;
    color: #FFFFFF;
    text-decoration: underline;

    padding-top: 10px;

    background-color: #41C685;

    width: 260px;
    height: 53px;
}

header.navbar #logo img{
    height: 30px;
    margin: 0 15px 4px 0;
}
                        /* NAVBAR MENU */
header.navbar .menu {
    display: flex;
    /* gap: 1em; */
    font-size: 18px;

    height: 100%;
}
header.navbar .menu li:hover {
    /*background-color: #4c9e9e;*/
    background-color: #000000;
    /* border-radius: 10px; */
    transition: 0.3s ease;
    position: relative;
}

header.navbar .menu li:hover a{
    color: #FFFFFF;
    text-decoration: none;
}

header.navbar .menu li:hover ul li a{
    color: #000000;
    text-decoration: none;
}

header.navbar .menu li:hover ul li:hover a{
    color: #FFFFFF;
    text-decoration: none;
}

header.navbar .menu li {
    /*padding: 5px 14px;*/
}
                        /* DROPDOWN MENU */
header.navbar .services {
    position: relative;

    height: 100%;
}

header.navbar .dropdown {
    /*background-color: rgb(1, 139, 139);*/
    background-color: #FFFFFF;
    /*padding: 1em 0;*/
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;

    width: 100%;
    /* border-radius: 8px; */
    /*top: 35px;*/
}
header.navbar .dropdown li + li {
    /*margin-top: 10px;*/
}
header.navbar .dropdown li {
    /*padding: 0.5em 1em;*/
    /*width: 8em;*/
    width: 100%;
    height: 100%;

    /*text-align: center;*/
}

header.navbar .dropdown li:hover {
    /*background-color: #4c9e9e;*/
    background-color: #000000;
}

header.navbar .dropdown li a{
    color: #000000;
    padding-top: 14px;
}

header.navbar .dropdown li a:hover{
    color: #FFFFFF;
}

header.navbar .dropdown li form button.logout{
    height: 43px;
    width: calc( 100% - 10px );

    margin: 5px;
}

header.navbar .services:hover .dropdown {
    display: block;
}

/* --------------------- OLD BOTTOM_BAR STYLING --------------------- */

.bottom_bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* --------------------- FOOTER STYLING --------------------- */

footer {
    overflow: visible;
    background-color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;

    padding-top: 50px;

    float: left;

    /*box-shadow: inset 0 6px 10px -7px #888888;*/
}

footer a{
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

footer div.innerFooter{
    width: 1200px;

    margin: 0 auto;
    padding: 40px 0;
}

footer div.innerFooter.top{

    border-bottom: #FFFFFF 1px solid;
    border-top: #FFFFFF 1px solid;
}

footer div.innerFooter.top a{
    margin-top: 10px;

    display: block;
}

footer div.innerFooter.top h4{
    margin-bottom: 40px;

    display: block;
}

footer div.innerFooter.top div.collumn{
    vertical-align: top;

    width: 297px;

    display: inline-block;
}

footer div.innerFooter.top div.collumn.one{
    font-size: 32px;
    font-family: Lobster, sans-serif;
}

footer div.innerFooter.bottom{

}

footer div.innerFooter.bottom a{
    float: right;

    margin-right: 20px;
}

/* --------------------- DAILY LOG --------------------- */

div#middle{
    width: calc( 100% - 400px);
    min-height: 100%;

    display: inline-block;

    float: left;

    overflow: auto;
}

div#right{
    width: 400px;
    min-height: 100%;

    display: inline-block;

    float: left;

    overflow: auto;
}

div#right div.contentBox{
    margin-left: 0;
}

div.innerCalorie{
    width: 100%;
}

div.innerCalorie div.collumn{
    text-align: center;

    width: calc( 50% - 2px );

    display: inline-block;

    position: relative;
}

div.innerCalorie div.collumn span.value{
    font-size: 32px;
}

div.innerCalorie div.collumn span.type{
    font-size: 16px;
}

div.innerCalorie div.collumn.left{
    width: 100%;

    padding-bottom: 20px;
}

div.innerCalorie div.collumn.left span.value{
    font-size: 42px;
}

/* {box-sizing: border-box;}
.column { float: left; padding: 15px;}
.left, .right {width:25%}
.middle{width: 40%;}
.row:after {
    content: "";
    display: table;
    clear: both;
} */
/*------   Search Form    ------*/
#searchForm {
    float: left;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 20px;
    padding-bottom: 2%;
}
/*------   Food Table    ------*/
#kfoodTable {
    float: left;
    padding-left: 40%;
    /*padding-right: 35%;
    padding-top: 20px;
    padding-bottom: 2%; */
}

/*------   Calendar    ------*/

/* --------------------- LEFT_BAR STYLING --------------------- */

div#leftBar{
    color: #FFFFFF;

    background-color: #41C685;

    margin-top: 53px;

    width: 260px;
    height: 100%;

    display: inline-block;

    position: fixed;
}

div#leftBar ul{

}

div#leftBar ul li{
    font-size: 18px;

    height: 50px;

    vertical-align: middle;
}

div#leftBar ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: initial;

    width: 100%;
    height: 100%;

    padding-left: 20px;
    padding-top: 15px;

    display: block;
}

div#leftBar ul li a i{
    width: 16px;

    margin-right: 6px;
}

div#leftBar ul li:hover{
    color: #41C685;

    background-color: #FFFFFF;
}

div#leftBar ul li:hover a{
    color: #41C685;
}

div#leftBar ul li.selected {
    border-right: #FFFFFF solid 6px;

    background-color: rgba(255, 255, 255, 0.3);
}

div#leftBar ul li.selected:hover{
    color: #41C685;

    background-color: #FFFFFF;
}

/* --------------------- CONTENT STYLING --------------------- */

div#content{
    min-height: calc(100% - 53px);
    width: calc(100% - 265px);

    display: inline-block;

    margin-top: 53px;
    margin-left: 260px;

    padding-top: 40px;

    float: left;
}

/* --------------------- CONTENT_BOX STYLING --------------------- */

div.contentBox{
    background-color: white;
    box-shadow: 5px 10px 8px #999999;

    margin: 40px 40px 0 40px;
    padding: 40px;

    overflow: auto;
}

div.contentBox:last-of-type{
    margin-bottom: 40px;
}

div.actionBar{
    margin: 20px 0;
}

div.actionBar form{
    display: inline-block;
}

div.actionBar input{
    border: none;
    background-color: #DDDDDD;
    padding: 5px 7px;
    width: 200px;
    border-radius: 2px;
}

div.actionBar a{
    float: right;
    font-weight: bold;
}

div.actionBar a i{
    margin-left: 40px;
}

.table thead th{
    border: none;
}

.table tbody tr{
    min-height: 36px;
}

.table tbody tr:hover{
    background-color: #EEEEEE;
}

.table td{
    border: none;
    vertical-align: middle;

    height: 36px;
}

.table td.actionButtons{
    text-align: right;
}

.table th.name{
    width: 55%;
}

/* --------------------- CALORIE_COUNT STYLING --------------------- */

div.contentBox.calorieCount{
    color: #FFFFFF;

    background-color: #41C685;
}

/* --------------------- FORM_BOX STYLING --------------------- */

div.formBox{
    background-color: white;
    box-shadow: 5px 10px 8px #999999;

    padding: 40px;
    padding-bottom: 80px;
    margin: 80px auto;

    max-width: 600px;

    overflow: auto;
}

div.formBox form{

}

div.formBox form label{
    font-size: 12px;
    font-weight: bold;

    display: block;
}

div.formBox form input{
    font-size: 12px;

    display: block;

    width: 100%;

    border: #000000 solid 1px;
    border-radius: 4px;

    background-color: #FFFFFF;

    padding: 8px 8px;
    margin-bottom: 20px;
}

div.formBox form input[type="checkbox"]{
    width: auto;
}

div.formBox form select{
    font-size: 12px;

    display: block;

    width: 100%;

    border: #000000 solid 1px;
    border-radius: 4px;

    background-color: #FFFFFF;

    padding: 8px 8px;
    margin-bottom: 20px;
}

div.formBox form div{
    margin-top: 30px;
    padding-top: 30px;

    border-top: #DDDDDD solid 1px;
}

div.formBox form div button{
    text-align: left;
    font-weight: bold;
    font-size: 16px;

    padding: 10px 15px;

    /*float: right;*/

    width: calc( 50% - 6px );

    margin: 0 !IMPORTANT;
    /*margin-left: 8px !IMPORTANT;*/
}

div.formBox form div button:last-of-type{
    margin-left: 8px !IMPORTANT;
}

div.formBox form div button i{
    float: right;

    padding-top: 4px;

    font-size: 16px;
}

/* --------------------- LOGIN PAGE --------------------- */

div#content.login{
    margin-left: 0;

    width: 100%;

    background-image: url("../image/login_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.formBox.login{
    padding: 0;

    height: 600px;
}

div.formBox.login div{
    width: 50%;
    height: 100%;

    padding: 40px;

    float: left;
}

div.formBox.login div.signIn{

}

div.formBox.login div.signUp{
    color: #FFFFFF;

    background-color: #41C685;
}

div.formBox.login div button{
    width: 100%;

    text-align: left;
    font-weight: bold;
    font-size: 16px;

    padding: 10px 15px;
}

div.formBox.login div button i{
    float: right;

    padding-top: 4px;

    font-size: 16px;
}

/* --------------------- FRONT PAGE --------------------- */

div#content.login{
    margin-left: 0;

    width: 100%;

    background-color: #FFFFFF;
}

/* --------------------- SELECT DATE --------------------- */

form.selectDate{
    display: inline-block;
}

div.contentBox.selectDate{
    text-align: center;

    background: none;

    box-shadow: none;

    padding: 0;
}

/* --------------------- MESSAGE --------------------- */

div#message{
    position: fixed;
    /*width: calc( 100% - 316px );*/
    width: fit-content;
    min-width: 600px;
    top: 73px;
    right: 20px;
    z-index: 2;
    display: none;
}

div#message.show{
    display: block;
}

div#message div#innerMessage{
    padding: 10px 20px;
    position: relative;
    /*margin: auto 0;*/
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 3px;
}

div#message div#innerMessage.success{
    background-color: #28a745;
    color: #FFFFFF;
}

div#message div#innerMessage.warning{
    background-color: #ffc107;
    color: #000000;
}

div#message div#innerMessage.warning a{
    color: #000000;
}

div#message div#innerMessage.error{
    background-color: #dc3545;
    color: #FFFFFF;
}

div#message div#innerMessage.info{
    background-color: #007bff;
    color: #FFFFFF;
}

div#message div#innerMessage.unknown{
    background-color: #6c757d;
    color: #FFFFFF;
}

div#message div#innerMessage div{
    display: inline-block;

    height: 25px;

    float: left;
}

div#message div#innerMessage div:last-of-type{
    float: right;
}

div#message div#innerMessage div span{
    float: left;

    padding-top: 6px;
}

div#message div#innerMessage div i{
    margin-right: 10px;

    font-size: 20px;

    padding-top: 6px;

    float: left;
}

div#message div#innerMessage div a{
    margin-left: 10px;

    color: #FFFFFF;
    text-decoration: underline;

    float: right;
}