<div th:fragment="navbar">
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">🥦 Food Log</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <!-- <input type="checkbox" id="checkbox_toggle" /> -->
            <!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/dailyLog">Daily Log</a></li>

                <!--Admin services-->
                <li class="services">
                    <a href="/">Services</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="/userList">Users</a></li>
                        <li><a href="/exercise">Exercise</a></li>
                        <li><a href="/food">Food</a></li>
                    </ul>
                </li>
                <!--User services-->
                <li class="services">
                    <a href="/">Account</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="/privateFood">Private Food</a></li>
                        <li><a href="/weightOptions">Weight Options</a></li>
                        <li>
                            <form th:action="@{/user_logout}" method="post">
                                <input type="submit" value="Logout" />
                            </form>
                        </li>
                    </ul>
                </li>

                <li><a href="/">Pricing</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
            </div>
        </ul>
    </nav>
</div>

<div th:fragment="bottom_bar">
    <div class="bottom_bar">Billy bumse fjæs</div>
</div>