<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
    <label for="Firstname">Firstname:</label>
    <input type="text" th:field="*{firstname}" id="firstname" placeholder="Firstname" required>
    <!--<span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>-->

    <label for="Lastname">Lastname:</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname" required>
    <!--<span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>-->

    <label for="username">Email</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Email" required>
    <!--<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>-->

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="password" required>
    <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
    <label for="userTypeString">Sex</label>
    <select name="userTypeString" id="userTypeString">
        <option value="User_male" selected>Male</option>
        <option value="User_female">Female</option>
    </select>
    <input type="submit" value="Add User">
</form>
</body>
</html>