
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles">
</head>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/addFoodToDailyLog}]]";
    }
</script>
<body>
<header th:include="fragments/navbar_top :: navbar"></header>

<form id="searchForm" th:action="@{/addFoodToDailyLog}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
<div class="container">
    <div id="inner_container">
        <br> <br>
        <h1>Food List</h1>
        <br/><br/>
        <table id="foodTable" border="1" cellpadding="10">
            <thead>
            <tr>
                <th>  Food ID </th>
                <th> Name  </th>
                <th> Protein </th>
                <th> Carbohydrates </th>
                <th> Fat </th>
                <td> Kilojoule </td>
                <th> Kcal </th>
                <td> Action </td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="foods : ${foodlist}">
                <td th:text="${foods.id}">Food ID</td>
                <td th:text="${foods.name}">Name</td>
                <td th:text="${foods.protein}">Protein</td>
                <td th:text="${foods.carbohydrates}">Carbohydrates</td>
                <td th:text="${foods.fat}">Fat</td>
                <td th:text="${foods.energy_kilojoule}">Kilojoule</td>
                <td th:text="${foods.energy_kcal}">Kcal</td>
                <td>
                    <a th:href="@{/createDailyLog/{id}(id=${foods.id})}">Add To Daily Log</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div th:include="fragments/navbar_top :: bottom_bar"></div>
</body>
</html>