
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles">
</head>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/addFoodToDailyLog}]]";
    }
</script>
<body>
<header th:include="fragments/navbar_top :: navbar"></header>

<form id="searchForm" th:action="@{/addFoodToDailyLog}">
    <div th:include="fragments/food_list/food_list :: searchFilterHTML"></div>
</form>
<div class="container">
    <div id="inner_container">
        <br> <br>
        <h1>Food List</h1>
        <br/><br/>
        <table id="foodTable" border="1" cellpadding="10">

            <thead>
            <tr>
                <th>  Food ID </th>
                <th> Name  </th>
                <th> Protein </th>
                <th> Carbohydrates </th>
                <th> Fat </th>
                <td> Kilojoule </td>
                <th> Kcal </th>
                <td> Action </td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="foods : ${foodlist}">
                <td th:text="${foods.id}">Food ID</td>
                <td th:text="${foods.name}">Name</td>
                <td th:text="${foods.protein}">Protein</td>
                <td th:text="${foods.carbohydrates}">Carbohydrates</td>
                <td th:text="${foods.fat}">Fat</td>
                <td th:text="${foods.energy_kilojoule}">Kilojoule</td>
                <td th:text="${foods.energy_kcal}">Kcal</td>
                <td>
                    <a th:href="@{/createDailyLog/{id}/{date}(id=${foods.id},date=${date})}">Add To Daily Log</a>
                </td>
            </tr>
            <tr th:each="food : ${pfoodlist}">
                <td th:text="${food.id}">Food ID</td>
                <td th:text="${food.name}">Name</td>
                <td th:text="${food.protein}">Protein</td>
                <td th:text="${food.carbohydrates}">Carbohydrates</td>
                <td th:text="${food.fat}">Fat</td>
                <td th:text="${food.energyKilojoule}">Kilojoule</td>
                <td th:text="${food.energyKcal}">Kcal</td>
                <td>
                    <a th:href="@{/createDailyLogPfood/{id}/{date}(id=${food.id},date=${date})}">Add To Daily Log</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div th:include="fragments/navbar_top :: bottom_bar"></div>
</body>
</html>