<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles">
</head>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/addFoodToRecipe/{recipeId}(recipeId=${recipeId})}]]";
    }
</script>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>
<!--
<form id="searchForm" th:action="@{/addFoodToRecipe/{recipeId}(recipeId=${recipeId})}">
    <div th:include="fragments/food_list/food_list :: searchFilterHTML"></div>
</form>
-->
<div id="content">
    <div class="contentBox">
        <h2>Add food to recipe</h2>
        <div class="actionBar">
            <form th:action="@{/addFoodToRecipe/{recipeId}(recipeId=${recipeId})}">
                <input type="text" name="keyword" placeholder="Search For a Food Name" th:value="${keyword}" >
                <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-arrow-right"></i></button>
                <button type="button" d="btnClear" onclick="clearSearch()" class="btn btn-secondary mr-2 btn-sm"><i class="fas fa-sync-alt"></i></button>
            </form>
            <a th:href="@{/editRecipe/{recipeId}(recipeId=${recipeId})}" class="btn btn-primary mr-2 btn-sm">Done <i class="fas fa-check"></i></a>
        </div>
        <table class="table table-sm">
            <thead th:include="fragments/food_list/food_list :: addFoodTableHeader"></thead>
            <tbody th:include="fragments/food_list/food_list :: addFoodTableBody_recipe"></tbody>
        </table>
    </div>
</div>

<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>