<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles">
</head>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/addFoodToDailyLog}]]";
    }
</script>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>
<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

<div id="content">
    <div class="contentBox">
        <h1>Food List</h1>
        <div class="actionBar">
            <form th:action="@{/addFoodToDailyLog}">
                <input type="text" name="keyword" placeholder="Search For a Food Name" th:value="${keyword}" >
                <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-arrow-right"></i></button>
                <button type="button" d="btnClear" onclick="clearSearch()" class="btn btn-secondary mr-2 btn-sm"><i class="fas fa-sync-alt"></i></button>
            </form>
        </div>
        <table  class="table table-sm">
            <thead>
                <tr>
                    <th>
                        <a th:href="@{'/pageAddFood/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name </a>
                    </th>
                    <th>
                        <a th:href="@{'/pageAddFood/'+ ${currentPage} + '?sortField=protein&sortDir=' + ${reverseSortDir}}">Protein </a>
                    </th>
                    <th>
                        <a th:href="@{'/pageAddFood/'+ ${currentPage} + '?sortField=carbohydrates&sortDir=' + ${reverseSortDir}}">Carbohydrates </a>
                    </th>
                    <th>
                        <a th:href="@{'/pageAddFood/'+ ${currentPage} + '?sortField=fat&sortDir=' + ${reverseSortDir}}">Fat </a>
                    </th>
                    <th>KiloJoule</th>
                    <th>Kcal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="food : ${listFood}">
                    <td><i class="fas fa-drumstick-bite"></i> <span th:text="${food.name}"></span></td>
                    <td th:text="${food.protein}">Protein</td>
                    <td th:text="${food.carbohydrates}">Carbohydrates</td>
                    <td th:text="${food.fat}">Fat</td>
                    <td th:text="${food.energy_kilojoule}">Kilojoule</td>
                    <td th:text="${food.energy_kcal}">Kcal</td>
                    <td class="actionButtons">
                        <a th:href="@{/createDailyLog/food/{id}/{date}(id=${food.id},date=${date})}" class="btn btn-outline-success mr-2 btn-sm"><i class="fas fa-plus-circle"></i> Add To Daily Log</a>
                    </td>
                </tr>
                <tr th:each="pfood : ${listPrivateFood}">
                    <td><i class="fas fa-drumstick-bite"></i> <span th:text="${pfood.name}"></span></td>
                    <td th:text="${pfood.protein}">Protein</td>
                    <td th:text="${pfood.carbohydrates}">Carbohydrates</td>
                    <td th:text="${pfood.fat}">Fat</td>
                    <td th:text="${pfood.energy_kilojoule}">Kilojoule</td>
                    <td th:text="${pfood.energy_kcal}">Kcal</td>
                    <td>
                        <a th:href="@{/createDailyLog/pfood/{id}/{date}(id=${pfood.id},date=${date})}" class="btn btn-success mr-2 btn-sm"><i class="fas fa-plus-circle"></i> Add To Daily Log</a>
                    </td>
                </tr>
            </tbody>
        </table>


       <div id="pgination" th:if = "${totalPages > 1}" th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} ">
           <nav aria-label="Page navigation example">
               <ul class="pagination" th:with="pageUrlPrefix = '/pageAddFood/'">
                   <li class="page-item" th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                       <a class="page-link"  th:href="@{${pageUrlPrefix} + '1' +  ${pageUrlPostfix}}">First</a>
                   </li>
                   <li class="page-item" th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                       <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage - 1} +  ${pageUrlPostfix}}">Previous</a>
                   </li>
                   <th:block th:if="${totalPages <= 6}">
                       <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                           <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                       </li>
                   </th:block>

                   <th:block th:if="${totalPages > 6}">
                       <th:block th:if="${currentPage <= 3 || currentPage > totalPages - 2}">
                           <li th:each="i: ${#numbers.sequence(1, 3)}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                               <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                           </li>
                           <a class="page-link"  th:href="@{${pageUrlPrefix} + '4' +  ${pageUrlPostfix}}">...</a>

                           <li th:each="i: ${#numbers.sequence(totalPages - 2 , totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                               <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                           </li>
                       </th:block>
                       <th:block th:if="${currentPage > 3 && currentPage < totalPages - 2}">
                           <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage - 3 } +  ${pageUrlPostfix}}">...</a>
                           <li th:each="i: ${#numbers.sequence(currentPage - 2 , currentPage + 2 )}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                               <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                           </li>
                           <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage + 3 } +  ${pageUrlPostfix}}">...</a>
                       </th:block>
                   </th:block>

                   <li class="page-item" th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                       <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage + 1} +  ${pageUrlPostfix}}">Next</a>
                   </li>
                   <li class="page-item" th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                       <a class="page-link"  th:href="@{${pageUrlPrefix} + ${totalPages} +  ${pageUrlPostfix}}">Last</a>
                   </li>
               </ul>
           </nav>
           <span></span>
       </div>
    </div>
</div>
<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>