<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

<div id="content">

    <div class="formBox">
        <th:block th:if="${userExists != null}">
            <div class="alert alert-warning" role="alert">
                <p>Username already exists</p>
            </div>
        </th:block>

        <h1>Create user</h1>

        <form method="post" th:action="@{/createUser}" th:object="${users}">
            <label for="firstname">Firstname</label>
            <input type="text" th:name="firstname" id="firstname" th:required="required">

            <label for="lastname">Lastname</label>
            <input type="text" th:name="lastname" id="lastname" th:required="required">

            <label for="username">Email</label>
            <input type="email" th:name="username" id="username" th:required="required">

            <!--<label for="password">Password</label>
            <input type="password" th:name="password" id="password" th:required="required">-->

            <label for="birthday">Birthday</label>
            <input type="date" th:name="sBirthday" id="birthday" th:required="required">

            <label for="startWeight">Start weight</label>
            <input type="number" th:name="startWeight" id="startWeight" th:required="required">

            <label for="goalWeight">Goal weight</label>
            <input type="number" th:name="goalWeight" id="goalWeight" th:required="required">

            <label for="height">Height (cm)</label>
            <input type="number" th:name="height" id="height" th:required="required">

            <label for="roles">Role</label>
            <select th:name="roles" id="roles">
                <option value="USER" selected>USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>

            <div>
                <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-check"></i> Create</button>
                <button type="button" class="btn mr-2 btn-sm" onclick="location.href='/userList';"><i class="fas fa-times"></i> Cancel</button>
            </div>
        </form>

    </div>

</div>

<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>