<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>


<div id="content">
  <div class="formBox">
    <h2>Create Exercise</h2>

    <form action="#" th:action="@{/saveExercise}" th:object ="${exercise}" method="POST">

      <label  class="col-form-label">Name:</label>
      <input type="text" th:field = "*{name}" placeholder=" Name" th:required="required">

      <label  class="col-form-label">Calories burned pr. minute:</label>
      <input type="number" th:field = "*{kcalBurnedPerMin}" placeholder=" Burned" th:required="required">

      <div>
        <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/exercise';">Cancel <i class="fas fa-times"></i></button>
        <button type="submit" class="btn btn-primary mr-2 btn-sm">Create <i class="fas fa-check"></i></button>
      </div>
    </form>
  </div>
</div>

<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>