<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <head th:include="fragments/head :: styles">
</head>
<body>
  <header th:include="fragments/navbar_top :: header" class="navbar"></header>

  <div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

  <div id="content">

    <div class="contentBox">
        <a href="/userList" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span>Users</a> <p>List of users with admin features</p>
        <a href="/food" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span>Food</a><br> <p>List of foods with admin features</p>
    </div>

  </div>

  <footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>