<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>

<body>
<header th:include="fragments/navbar_top :: navbar" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftbar" id="leftBar"></div>

<div id="content">
    <form action="#" th:action="@{/delete_user_confirm/{id}(id=${user.id})}" th:object="${user}" method="post">
        <div class="alert alert-danger">
            <strong>Danger!</strong> Are you sure you wish to delete the user <span th:text="${user.username}" />
        </div>
        <input type="submit" value="Delete User">
    </form>
</div>

<footer th:include="fragments/navbar_top :: bottom_bar"></footer>
</body>
</html>