<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>

<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

<div id="content">
    <div class="formBox">
        <h2 class="warning"><i class="fas fa-exclamation-triangle"></i> Delete your account</h2>
        <p>
            <b>Are you sure you wish to delete your account?</b><br><br>
            You will lose all your information in your account<br>
            This action can not be undone!
        </p>
        <form action="#" th:action="@{/delete_own_user}" method="post">
            <div>
                <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/userInfo';">Cancel <i class="fas fa-times"></i></button>
                <button type="submit" class="btn btn-danger mr-2 btn-sm">Delete <i class="fas fa-trash-alt"></i></button>
            </div>
        </form>
    </div>
</div>

<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>