<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>
<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>


<div id="content">
<div class="formBox">

    <h1>Set weight loss/gain</h1>

    <form method="post" th:action="@{/saveWeightOption}" th:object="${user}">

        <label for="WeightOption">Set weight loss/gain (weekly)</label>
        <select th:name="kcal_modifier" id="WeightOption">
            <option value="-1000" th:selected="${user?.kcal_modifier==-1000}">Loss 1kg</option>
            <option value="-750" th:selected="${user?.kcal_modifier==-750}">Loss 0.75kg</option>
            <option value="-500" th:selected="${user?.kcal_modifier==-500}">Loss 0.5kg</option>
            <option value="-250" th:selected="${user?.kcal_modifier==-250}">Loss 0.25kg</option>
            <option value="0" th:selected="${user?.kcal_modifier==0}">No loss/gain</option>
            <option value="250" th:selected="${user?.kcal_modifier==250}">Gain 0.25kg</option>
            <option value="500" th:selected="${user?.kcal_modifier==500}">Gain 0.5kg</option>
            <option value="750" th:selected="${user?.kcal_modifier==750}">Gain 0.75kg</option>
            <option value="1000" th:selected="${user?.kcal_modifier==1000}">Gain 1kg</option>
        </select>

        <div>

            <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/dailyLog';"><i class="fas fa-times"></i> Cancel</button>
            <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-check"></i> Save</button>
        </div>
    </form>

</div>
</div>

<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>