<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>
<div id="content">

    <div class="formBox">

        <h1>Update recipe</h1>
        <form method="post" th:action="@{/editRecipe}" th:object="${recipe}" >
            <input type="hidden" th:field="*{id}" id="id" th:required="required">
            <label for="name">Recipe name</label>
            <input type="text" th:field="*{name}" id="name" th:required="required">
            <label for="total_weight">Recipe total weight (Gram)</label>
            <input type="number" th:field="*{total_weight}" id="total_weight" th:required="required">
            <div>
                <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-check"></i> Save</button>
                <button type="button" class="btn mr-2 btn-sm" onclick="location.href='/recipes';"><i class="fas fa-times"></i> Cancel</button>
            </div>
        </form>

        <br><br>
        <h1>Foods in recipe</h1>
        <div th:object="${recipeFood}">
            <table class="table table-striped">
                <thead class="thead-grey">
                <tr>
                    <th>Food Name in this recipe</th>
                    <th>Food Weight (Gram)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="recipef : ${recipeFood}">
                    <td th:text="${recipef.food.name}"></td>
                    <td th:text="${recipef.amount}"></td>
                    <td>
                        <a th:href="@{/removeFoodFromRecipe/{recipeId}/{id}(recipeId=${recipef.recipe.id}, id=${recipef.id} )}" class="btn btn-outline-danger mr-2 btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>
