<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>

<script type="text/javascript" src="js/javascript.js"></script>
<body>
<header th:include="fragments/navbar_top :: navbar"></header>

<form id="searchForm" th:action="@{/food}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
<div class="container">
    <div id="inner_container">

        <h1>Food List</h1>
        <a th:href="@{/createFood}" >Create New Food</a>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Food ID</th>
                <th>Name</th>
                <th>Protein</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <td>Kilojoule</td>
                <th>Kcal</th>
                <td>Action</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="food : ${foodlist}">
                <td th:text="${food.id}">Food ID</td>
                <td th:text="${food.name}">Name</td>
                <td th:text="${food.protein}">Protein</td>
                <td th:text="${food.carbohydrates}">Carbohydrates</td>
                <td th:text="${food.fat}">Fat</td>
                <td th:text="${food.energy_kilojoule}">Kilojoule</td>
                <td th:text="${food.energy_kcal}">Kcal</td>
                <td>
                    <a th:href="@{/updateFood/{id}(id=${food.id})}">Edit</a>
                    <a th:href="@{/deleteFood/{id}(id=${food.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div th:include="fragments/navbar_top :: bottom_bar"></div>
</body>
</html>