<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/food}]]";
    }

    function confirm_delete(name) {
        return confirm('Are you sure you want to delete "' + name + '" from food list?');
    }
</script>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

<div id="content">

<!--<form id="searchForm" th:action="@{/food}">
    Filter: <input type="text" name="keyword" id="keyword" placeholder="Search for name"  size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>-->

    <div class="contentBox">
        <h2>Food List</h2>

        <div class="actionBar">

            <form th:action="@{/food}">
                <input type="text" name="keyword" placeholder="Search For a Food Name" th:value="${keyword}" >
                <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-arrow-right"></i></button>
                <button type="button" d="btnClear" onclick="clearSearch()" class="btn btn-secondary mr-2 btn-sm"><i class="fas fa-sync-alt"></i></button>

            </form>

            <a href="/createFood" class="btn btn-success mr-2 btn-sm">Create Food <i class="fas fa-plus-circle"></i></a>

        </div>

        <table class="table table-sm">
            <thead>
            <tr>
                <!--<th>Food ID</th>-->
                <th>
                    <a th:href="@{'/pageFood/'+ ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name </a>
                </th>
                <th>
                    <a th:href="@{'/pageFood/'+ ${currentPage} + '?sortField=protein&sortDir=' + ${reverseSortDir}}">Protein </a>
                </th>
                <th>
                    <a th:href="@{'/pageFood/'+ ${currentPage} + '?sortField=carbohydrates&sortDir=' + ${reverseSortDir}}">Carbohydrates </a>
                </th>
                <th>
                    <a th:href="@{'/pageFood/'+ ${currentPage} + '?sortField=fat&sortDir=' + ${reverseSortDir}}">Fat </a>
                </th>
                <th>
                    KiloJoule
<!--                <a th:href="@{'/page/'+ ${currentPage} + '?sortField=energy_kilojoule &sortDir=' + ${reverseSortDir}}">KiloJoule </a>-->
                </th>
                <th>
                    Kcal
<!--                <a th:href="@{'/page/'+ ${currentPage} + '?sortField=energy_kcal &sortDir=' + ${reverseSortDir}}">Kcal </a>-->
                </th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="food : ${listFood}">
                <!--<td th:text="${food.id}">Food ID</td>-->
                <td><i class="fas fa-drumstick-bite"></i> <span th:text="${food.name}"></span></td>
                <td th:text="${food.protein}">Protein</td>
                <td th:text="${food.carbohydrates}">Carbohydrates</td>
                <td th:text="${food.fat}">Fat</td>
                <td th:text="${food.energy_kilojoule}">Kilojoule</td>
                <td th:text="${food.energy_kcal}">Kcal</td>
                <td class="actionButtons">
                    <a th:href="@{/updateFood/{id}(id=${food.id})}" class="btn btn-outline-dark mr-2 btn-sm"><i class="fas fa-pen"></i> Edit</a>
                    <a th:href="@{/deleteFood/{id}(id=${food.id})}" class="btn btn-outline-danger mr-2 btn-sm" th:attr="onclick=|return confirm_delete('${food.name}')|"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div id="pgination" th:if = "${totalPages > 1}" th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} ">
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:with="pageUrlPrefix = '/pageFood/'">
                    <li class="page-item" th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link"  th:href="@{${pageUrlPrefix} + '1' +  ${pageUrlPostfix}}">First</a>
                    </li>
                    <li class="page-item" th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage - 1} +  ${pageUrlPostfix}}">Previous</a>
                    </li>
                        <th:block th:if="${totalPages <= 10}">
                            <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                                <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <th:block th:if="${totalPages > 10}">

                            <th:block th:if="${currentPage <= 5 || currentPage > totalPages - 4}">
                                <li th:each="i: ${#numbers.sequence(1, 5)}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                                    <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                                </li>
                                    <a class="page-link"  th:href="@{${pageUrlPrefix} + '6' +  ${pageUrlPostfix}}">...</a>

                                <li th:each="i: ${#numbers.sequence(totalPages - 4 , totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                                    <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
                                    <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage - 5 } +  ${pageUrlPostfix}}">...</a>
                                <li th:each="i: ${#numbers.sequence(currentPage - 4 , currentPage + 4 )}" th:class="${currentPage != i ? 'page-item' : 'page-item '}">
                                    <a class="page-link"  th:href="@{${pageUrlPrefix} + ${i} +  ${pageUrlPostfix}}">[[${i}]]</a>
                                </li>
                                    <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage + 5 } +  ${pageUrlPostfix}}">...</a>
                            </th:block>

                        </th:block>

                    <li class="page-item" th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link"  th:href="@{${pageUrlPrefix} + ${currentPage + 1} +  ${pageUrlPostfix}}">Next</a>
                    </li>

                    <li class="page-item" th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link"  th:href="@{${pageUrlPrefix} + ${totalPages} +  ${pageUrlPostfix}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!--<div id="inner_container">
        <br> <br>
        <h1>Food List</h1>
        <a th:href="@{/createFood}" >Create New Food</a>
        <br/><br/>
        <table id="foodTable" border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Food ID</th>
                <th>Name</th>
                <th>Protein</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <td>Kilojoule</td>
                <th>Kcal</th>
                <td>Action</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="food : ${foodlist}">
                <td th:text="${food.id}">Food ID</td>
                <td th:text="${food.name}">Name</td>
                <td th:text="${food.protein}">Protein</td>
                <td th:text="${food.carbohydrates}">Carbohydrates</td>
                <td th:text="${food.fat}">Fat</td>
                <td th:text="${food.energy_kilojoule}">Kilojoule</td>
                <td th:text="${food.energy_kcal}">Kcal</td>
                <td>
                    <a th:href="@{/updateFood/{id}(id=${food.id})}">Edit</a>
                    <a th:href="@{/deleteFood/{id}(id=${food.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        </div>-->
</div>

<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>