<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">


<!--<head th:include="fragments/head :: styles">-->
<!--<title tiles:fragment="title">Messages : Create</title>-->
<head th:include="fragments/head :: styles"></head>
<body>

<header th:include="fragments/navbar_top :: loginHeader" class="navbar"></header>
<!-- <header th:include="fragments/navbar_top :: navbar"></header> -->
<div id="content" class="frontPage">



</div>
<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>