<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">


  <!--<head th:include="fragments/head :: styles">-->
  <!--<title tiles:fragment="title">Messages : Create</title>-->
<head th:include="fragments/head :: styles"></head>
<body>

  <header th:include="fragments/navbar_top :: loginHeader" class="navbar"></header>
    <!-- <header th:include="fragments/navbar_top :: navbar"></header> -->
  <div id="content" class="login">
    <th:block th:if="${message != null}">
      <div class="alert alert-warning" role="alert">
        <p th:text="${message}"></p>
      </div>
    </th:block>
    <!--<div tiles:fragment="content">-->
    <div class="formBox login">
      <div class="signIn">
        <form name="f" th:action="@{/login}" method="post">
          <fieldset>
            <h2>Sign in</h2>
            <p th:if="${param.error}" class="alert alert-error">
              Invalid Email and password.
            </p>
            <p th:if="${param.logout}" class="alert alert-success">
              You have been logged out.
            </p>
            <label for="username">Email</label>
            <input type="text" id="username" name="username" th:required="required"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:required="required"/>
            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Sign in</button>
          </fieldset>
        </form>
        <a href="/password_reset">Forgot my password</a>
        <!--<a href="/signup">create user</a>-->
      </div>
      <div class="signUp">
        <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
          <fieldset>
            <h2>Sign up</h2>
            <label for="Firstname">Firstname:</label>
            <input type="text" th:field="*{firstname}" id="firstname" placeholder="Firstname" th:required="required">
            <!--<span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>-->

            <label for="Lastname">Lastname:</label>
            <input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname" th:required="required">
            <!--<span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>-->

            <label for="username">Email</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Email" th:required="required">
            <!--<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>-->

            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password" placeholder="password" th:required="required">
            <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
            <label for="userTypeString">Sex</label>
            <select name="userTypeString" id="userTypeString" th:required="required">
              <option value="" selected disabled>-Select gender-</option>
              <option value="User_male"><i class="fas fa-mars"></i> Male</option>
              <option value="User_female"><i class="fas fa-venus"></i> Female</option>
            </select>
            <button type="submit" class="btn btn-outline-light"><i class="fas fa-user-plus"></i> Sign up</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
  <footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>