<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="#" th:action="@{/password_reset_code}" th:object="${code}" method="post">
    <label for="username">Email:</label><br>
    <input type="text" th:field="*{username}" id="username" placeholder="Email" required><br><br>
    <label for="code">Code:</label><br>
    <input type="text" th:field="*{code}" id="code" placeholder="insert code here" required><br><br>
    <label for="password">Password</label><br>
    <input type="password" th:field="*{password}" id="password" placeholder="password" required><br><br>

    <input type="submit" value="Confirm password reset">
</form>
</body>
</html>