<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <head th:include="fragments/head :: styles"></head>

</head>
<body>
    <header th:include="fragments/navbar_top :: loginHeader" class="navbar"></header>

    <div id="content" class="login">

        <div class="formBox">
            <h2>Reset Password </h2>

            <form action="#" th:action="@{/password_reset_code}" th:object="${code}" method="post">
                <label for="username">Email:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Email" th:required="required">
                <label for="code">Code from your email:</label>
                <input type="text" th:field="*{code}" id="code" placeholder="insert code here" th:required="required">
                <label for="password">New Password</label>
                <input type="password" th:field="*{password}" id="password" placeholder="password" th:required="required">

                <div>
                    <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/login';"><i class="fas fa-times"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-check"></i> Save</button>
                </div>
            </form>
        </div>
    </div>

    <footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>