<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head :: styles"></head>
<body>
    <header th:include="fragments/navbar_top :: loginHeader" class="navbar"></header>
    <!-- <header th:include="fragments/navbar_top :: navbar"></header> -->
    <div id="content" class="login">

        <div class="formBox">
            <h2>Forgot my password</h2>
            <form action="#" th:action="@{/password_reset}" th:object="${reset}" method="post">
                <label for="username">Email:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Email" th:required="required">

                <div>
                    <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/login';"><i class="fas fa-times"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-sync-alt"></i> Reset</button>
                </div>
            </form>
        </div>

    </div>

    <footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>