<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/privateFood}]]";
    }
</script>
<body>
<header th:include="fragments/navbar_top :: navbar"></header>

<form id="searchForm" th:action="@{/privateFood}">
    Filter: <input type="text" name="keyword" id="keyword" placeholder="Search for name" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
<div class="container">
    <div id="inner_container">
        <br> <br>
        <h1>Private Food List</h1>
        <a th:href="@{/createPrivateFood}" >Create New Food</a>
        <br/><br/>
        <table id="foodTable" border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Food ID</th>
                <th>Name</th>
                <th>Protein</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <td>Kilojoule</td>
                <th>Kcal</th>
                <td>Action</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="pfood : ${pfood}">
                <td th:text="${pfood.id}">Food ID</td>
                <td th:text="${pfood.name}">Name</td>
                <td th:text="${pfood.protein}">Protein</td>
                <td th:text="${pfood.carbohydrates}">Carbohydrates</td>
                <td th:text="${pfood.fat}">Fat</td>
                <td th:text="${pfood.energyKilojoule}">Kilojoule</td>
                <td th:text="${pfood.energyKcal}">Kcal</td>
                <td th:text="${pfood.fkUser.firstname}">User</td>
                <td>
                    <a th:href="@{/updatePrivateFood/{id}(id=${pfood.id})}">Edit</a>
                    <a th:href="@{/deletePrivateFood/{id}(id=${pfood.id})}">Delete</a>
                    <!-- <a th:href="@{/addFoodToDailyLog/{id}(id=${food.id})}">add to DailyLog</a> -->
                </td>
            </tr>
            </tbody>
        </table>

        </div>
</div>

<div th:include="fragments/navbar_top :: bottom_bar"></div>
</body>
</html>