<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>
<div id="content">

    <div class="contentBox">

    <h2>Recipe Info</h2>

        <table class="table table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Weight (Gram)</th>
            <th>Calories pr 100 (Gram)</th>

        </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipe}">
                <td><i class="far fa-clipboard"></i> <span th:text="${recipe.name}"></span></td>
                <td><i class="fas fa-balance-scale-left"></i> <span th:text="${recipe.total_weight}"></span></td>
                <td th:text="${recipe.calculateCaloriesInRecipe}"></td>
            </tr>
        </tbody>
    </table>

        <table class="table table-sm">
            <thead>
            <tr>
                <th>Food Name in this recipe</th>
                <th>Food Weight (Gram)</th>
                <th>Calories pr 100 (Gram)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipef : ${recipeFood}">
                <td><i class="fas fa-drumstick-bite"></i> <span th:text="${recipef.food.name}"></span></td>
                <td><i class="fas fa-balance-scale-left"></i> <span th:text="${recipef.amount}"></span></td>
                <td th:text="${recipef.food.energy_kcal}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
<footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>