<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<body>
    <header th:include="fragments/navbar_top :: header" class="navbar"></header>

    <div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>
    <div id="content">

        <div class="contentBox">

        <h2>Archived recipe list</h2>

            <div class="actionBar">

                <form>
                    <input type="text" placeholder="Search...">
                </form>

                <a href="/recipes" class="btn btn-primary mr-2 btn-sm">Show recipes <i class="far fa-clipboard"></i></a>

            </div>


            <table class="table table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Weight (Gram)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="recipe : ${recipes}">
                    <th:block th:if="${recipe.archived==true}">
                        <td><i class="far fa-clipboard"></i> <span th:text="${recipe.name}"></span></td>
                        <td><i class="fas fa-balance-scale-left"></i> <span th:text="${recipe.total_weight}"></span></td>
                        <td class="actionButtons">
                            <a th:href="@{'/archiveRecipe/false/'+${recipe.id}}" class="btn btn-outline-dark mr-2 btn-sm"><i class="fas fa-undo-alt"></i> Restore</a>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>

        </div>
    </div>

    <div th:include="fragments/navbar_top :: footer"></div>
</body>
</html>