<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<body>
    <header th:include="fragments/navbar_top :: navbar"></header>

    <div class="contentBox">

    <h1>Archived recipe list</h1>

        <div class="actionBar">

            <form>
                <input type="text" placeholder="Search...">
            </form>

            <a href="/recipes" class="btn btn-success mr-2 btn-sm"> Show recipes</a>

        </div>


        <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Weight (Gram)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <th:block th:if="${recipe.archived==true}">
                    <td th:text="${recipe.name}"></td>
                    <td th:text="${recipe.total_weight}"></td>
                    <td>
                        <a th:href="@{'/archiveRecipe/false/'+${recipe.id}}" class="btn btn-danger mr-2 btn-sm"><i class="fas fa-trash-alt"></i> Activate</a>
                    </td>
                </th:block>
            </tr>
        </tbody>
    </table>

    </div>

    <footer th:include="fragments/navbar_top :: bottom_bar"></footer>
</body>
</html>