<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

<div id="content">

  <div class="formBox">
    <h2>Edit Food</h2>

    <form action="#" th:action="@{/savePrivateFood}" th:object ="${privateFood}" method="POST">

      <input type="hidden" th:field="*{id}" th:required="required"/>
      <input type="hidden" th:field="*{fkUser.id}" th:required="required"/>

      <label  class="col-form-label">Name </label>
      <input type="text" th:field = "*{name}" th:required="required">

      <label  class="col-form-label">Protein </label>
      <input type="number" th:field = "*{protein}" th:required="required">

      <label  class="col-form-label">Carbohyrates </label>
      <input type="text" th:field = "*{carbohydrates}" th:required="required">

      <label  class="col-form-label">Fat</label>
      <input type="text" th:field = "*{fat}" th:required="required">

      <label  class="col-form-label">Kilojoule </label>
      <input type="text" th:field = "*{energy_kilojoule}" th:required="required">

      <label  class="col-form-label">Kcal</label>
      <input type="text" th:field = "*{energy_kcal}" th:required="required">

      <div>
        <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/privateFood';"><i class="fas fa-times"></i> Cancel</button>
        <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-check"></i> Save</button>
      </div>
    </form>
  </div>
</div>

<div th:include="fragments/navbar_top :: bottom_bar"></div>

</body>
</html>