<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: header" class="navbar"></header>

<div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

<div id="content">

  <div class="formBox">
    <h2>Update Current Weight</h2>

    <form action="#" th:action="@{/saveCurrentWeight/{date} (date=${date})}" th:object ="${dailyLog}" method="POST">

      <input type="hidden" th:field="*{id}" th:required="required"/>

      <label  class="col-form-label">Current Weight </label>
      <input type="text" th:field = "*{amount}" th:required="required">

      <div>
        <button type="button" class="btn btn-outline-dark mr-2 btn-sm" onclick="location.href='/dailyLog';">Cancel <i class="fas fa-times"></i></button>
        <button type="submit" class="btn btn-primary mr-2 btn-sm">Save <i class="fas fa-check"></i></button>
      </div>
    </form>
  </div>
</div>

<footer th:include="fragments/navbar_top :: footer"></footer>

</body>
</html>