<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: styles"></head>
<body>
<header th:include="fragments/navbar_top :: navbar"></header>

<div class="container">

  <div id="inner_container">
    <h1>Update Food</h1>

    <form action="#" th:action="@{/saveCurrentWeight}" th:object ="${dailyLog}" method="POST">

      <input type="hidden" th:field="*{id}" />

      <label  class="col-form-label">Current Weight </label>
      <input type="text" th:field = "*{amount}"  class="form-control mb-4 col-4">

      <button type="submit" class="form-control mb-4 col-4" >Update Weight</button>
    </form>
  </div>
</div>

<div th:include="fragments/navbar_top :: bottom_bar"></div>

</body>
</html>