<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/head :: styles"></head>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/userList}]]";
    }

    function confirm_reset(username) {
        return confirm('Are you sure you want to reset the password for ' + username + '?');
    }
</script>
<body>
    <header th:include="fragments/navbar_top :: header" class="navbar"></header>

    <div th:include="fragments/navbar_top :: leftMenu" id="leftBar"></div>

    <div id="content">

        <div class="contentBox">

        <h2>User list</h2>

            <div class="actionBar">

                <form th:action="@{/userList}">
                    <input type="text" name="keyword"  placeholder="Search for name or email" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary mr-2 btn-sm"><i class="fas fa-arrow-right"></i></button>
                    <button type="button" d="btnClear" onclick="clearSearch()" class="btn btn-secondary mr-2 btn-sm"><i class="fas fa-sync-alt"></i></button>
                </form>

                <a href="/createUser" class="btn btn-success mr-2 btn-sm">Create user <i class="fas fa-plus-circle"></i></a>

            </div>


            <table class="table table-sm">
            <thead>
            <tr>
<!--                <th>Name</th>-->
<!--                <th>Email</th>-->

                <th>
                    <a th:href="@{'/pageUser/'+ ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}}">Name </a>
                </th>
                <th>
                    <a th:href="@{'/pageUser/'+ ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir}}">Email </a>
                </th>
                <th> Locked </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUser}">
                <td><i class="fas fa-user"></i> <span th:text="${user.getFullName()}"></span></td>
                <td><i class="fas fa-envelope"></i> <span th:text="${user.username}"></span></td>
                <td>
                    <th:block th:if="${user.id != loggedInUser.id}">
                        <form action="/adminActionAccountNonLocked" method="get">
                            <input type="hidden" th:value="${user.id}" th:name="id" />
                            <th:block th:if="${user.accountNonLocked == 0}">
                                <input type="checkbox" id="locked" th:name="locked" checked onChange="this.form.submit()"/>
                            </th:block>
                            <th:block th:if="${user.accountNonLocked == 1}">
                                <input type="checkbox" id="locked" name="locked" onChange="this.form.submit()"/>
                            </th:block>

                        </form>
                    </th:block>
                </td>
                <td class="actionButtons">
                    <th:block th:if="${user.id != loggedInUser.id}">
                        <a th:href="${'/editUser/' + user.id}" class="btn btn-outline-dark mr-2 btn-sm"><i class="fas fa-pen"></i> Edit</a>
                        <a th:href="@{'/password_reset_user/'+${user.id}}" class="btn btn-outline-dark mr-2 btn-sm" th:attr="onclick=|return confirm_reset('${user.firstname + ' ' + user.lastname}')|">
                            <i class="fas fa-sync-alt"></i> Reset Password
                        </a>
                        <a th:href="@{'/delete_user_confirm/'+${user.id}}" class="btn btn-outline-danger mr-2 btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>


            <div th:if = "${totalPages > 1}">
                <div class = "row col-sm-10">
                    <div class = "col-sm-2">
                        Antal User:  [[${totalUser}]]
                    </div>
                    <div class = "col-sm-2">
                 <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                  <a th:if="${currentPage != i}" th:href="@{'/pageUser/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                  <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                 </span>
                    </div>
                    <div class = "col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/pageUser/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                        <span th:unless="${currentPage < totalPages}">Previous</span>
                    </div>
                    <div class = "col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/pageUser/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/pageUser/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last Page</a>
                        <span th:unless="${currentPage < totalPages}">Last Page</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer th:include="fragments/navbar_top :: footer"></footer>
</body>
</html>