<div th:fragment="searchFilterHTML">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</div>

<thead th:fragment="addFoodTableHeader">
    <tr>
        <th>Name</th>
        <th>Protein</th>
        <th>Carbohydrates</th>
        <th>Fat</th>
        <th>Kilojoule</th>
        <th>Kcal</th>
        <th></th>

    </tr>
</thead>

<tbody th:fragment="addFoodTableBody_dailyLog">
    <tr th:each="foods : ${foodlist}">
        <td th:text="${foods.name}">Name</td>
        <td th:text="${foods.protein}">Protein</td>
        <td th:text="${foods.carbohydrates}">Carbohydrates</td>
        <td th:text="${foods.fat}">Fat</td>
        <td th:text="${foods.energy_kilojoule}">Kilojoule</td>
        <td th:text="${foods.energy_kcal}">Kcal</td>
        <td>
            <a th:href="@{/createDailyLog/{id}(id=${foods.id})}">Add food</a>
        </td>
    </tr>
</tbody>

<tbody th:fragment="addFoodTableBody_recipe">
    <tr th:each="foods : ${foodlist}">
        <td th:text="${foods.name}">Name</td>
        <td th:text="${foods.protein}">Protein</td>
        <td th:text="${foods.carbohydrates}">Carbohydrates</td>
        <td th:text="${foods.fat}">Fat</td>
        <td th:text="${foods.energy_kilojoule}">Kilojoule</td>
        <td th:text="${foods.energy_kcal}">Kcal</td>
        <td class="actionButtons">
            <form method="post" th:action="@{/saveRecipeFood/foods/{foodId}/{recipeId}(recipeId=${recipeId}, foodId=${foods.id})}" th:object="${recipeFood}">
                <input type="number" th:name="amount" id="amount" placeholder="amount (Gram)" th:required="required">
                <button type="submit" class="btn btn-outline-success mr-2 btn-sm"><i class="fas fa-plus-circle"></i> Add</button>
            </form>
        </td>
    </tr>
    <!--<tr th:each="foodp : ${pfoodlist}">
        <td th:text="${foodp.name}">Name</td>
        <td th:text="${foodp.protein}">Protein</td>
        <td th:text="${foodp.carbohydrates}">Carbohydrates</td>
        <td th:text="${foodp.fat}">Fat</td>
        <td th:text="${foodp.energy_kilojoule}">Kilojoule</td>
        <td th:text="${foodp.energy_kcal}">Kcal</td>
        <td class="actionButtons">
            <form method="post" th:action="@{/saveRecipeFood/foodp/{foodId}/{recipeId}(recipeId=${recipeId}, foodId=${foodp.id})}" th:object="${recipeFood}">
                <input type="number" th:name="amount" id="amount" placeholder="amount (Gram)" th:required="required">
                <button type="submit" class="btn btn-outline-success mr-2 btn-sm"><i class="fas fa-plus-circle"></i> Add</button>
            </form>
        </td>
    </tr>-->
</tbody>
